.titulo-bg {
  background-color: var(--cor11);
  padding: 60px 40px;
}
.titulo-conteiner {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.termos {
  background-color: var(--cor0);
  padding: 10px;
  border-radius: 4px;
  max-width: 75ch;
  margin: 0 auto;
}
.termos h2 {
  font-weight: 600;
  margin-bottom: 4px;
}
.termos p {
  margin-bottom: 24px;
}
.titulo-conteiner h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.titulo-conteiner p {
  margin-bottom: 4px;
  font-family: Poppins;
}
@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo-conteiner p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
  .titulo-conteiner h1 {
    font-weight: 500;
    font-size: 2rem;
  }
}
